<div class="bg-primary text-white p-2">
    <h1 class="text-center">Employee List App</h1>
</div>
<nav class="navbar bg-white">
    <div class="text-center mx-auto">
        <a routerLink="login" routerLinkActive="text-info">Login</a>
        &nbsp; | &nbsp;
        <a routerLink="register" routerLinkActive="text-info">Register</a>
        &nbsp; | &nbsp;
        <a routerLink="employees" routerLinkActive="text-info">Employees</a>
    </div>
    

</nav>
<router-outlet></router-outlet>