.employee-modal{
    position:auto;
    left:0;
    top:0;
    z-index: 1;
    width:100%;
    height:100%;
}

.employee-modal-content{
    margin:5% auto;
    width: 35%;
}
input:invalid {
    border: 2px solid red;
    background-color: lightpink;
}

input:invalid + div:before {
    content: "Required Field";
    color: red;
}